[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/neo-ai/tvm.git
        branch = stable
[submodule "3rdparty/treelite"]
	path = 3rdparty/treelite
	url = https://github.com/neo-ai/treelite
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
	tag = develop
